body {
    background-color: cornflowerblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    color: whitesmoke;
    filter: drop-shadow(5px 5px 0px black);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
}

div#title-row {
    margin-top: 20px;
    margin-bottom: 20px;
}

div.button-col {
    margin-bottom: 20px;
}

div.col#output {
    color: whitesmoke;
}