@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');

body {
    background-color: #364156;
    font-family: 'Carter One', cursive;
}

h1 {
    color: whitesmoke;
}

h1 {
    text-shadow: -5px 5px #11151C;
}

div.row {
    margin-top: 20px;
    margin-bottom: 20px;
}

div.button-col {
    margin-bottom: 20px;
}

div#output, span#subtitle {
    color: whitesmoke;
    font-size: xx-large;
    text-align: center;
    text-shadow: -2px 2px 0px #11151C;
}

.btn-custom {
    color: whitesmoke;
    background-color: #212D40;
    border-color: whitesmoke;
    font-size: xx-large;
    --bs-btn-active-color: #11151C;
    --bs-btn-active-bg: whitesmoke;
    --bs-btn-active-border-color: #11151C;
}

.btn-custom:hover {
    color: #212D40;
    background-color: whitesmoke;
}