@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');

body {
    background-color: #364156;
    font-family: 'Carter One', cursive;
}

h1 {
    color: whitesmoke;
    text-shadow: -5px 5px 0px #11151C;
}

h4 {
    color: whitesmoke;
    text-shadow: -2px 2px 0px #11151C;
}

div.row {
    margin-top: 10px;
    margin-bottom: 10px;
}

div.button-col {
    margin-bottom: 20px;
}

div#output {
    color: whitesmoke;
    font-size: x-large;
    text-align: center;
    text-shadow: -2px 2px 0px #11151C;
    margin-top: -20px;
}

.btn-custom {
    --bs-btn-color: whitesmoke;
    --bs-btn-bg: #212D40;
    --bs-btn-border-color: whitesmoke;
    --bs-btn-font-size: x-large;
    --bs-btn-hover-color: #212D40;
    --bs-btn-hover-bg: whitesmoke;
    --bs-btn-hover-border-color: whitesmoke;
    --bs-btn-focus-shadow-rgb: #11151C;
    --bs-btn-active-color: #11151C;
    --bs-btn-active-bg: whitesmoke;
    --bs-btn-active-border-color: #11151C;
}